<% if user_signed_in? %>
	<%= render '/feedback/form', feedback: @feedback %>
<% else %>
	<h1>Welcome to Squad Analytics Project 2018</h1>

	<h3>What is SAP18?</h3>
	<p>
	  SAP18 is a squad analytics project for Football Manager 2018. It uses exported tables from the squad views in-game and aims to offer new ways to view that data.
	</p>

	<%= link_to "Sign Up", new_user_registration_path %>
	<br />
	<small><%= link_to "Sign in", new_user_session_path %></small>
<% end %>