<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
<!--   < %= simple_format(@feedback.data) %>
 --></p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedback_index_path %>
